.navbar {
    background-color: #0E1F1C !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    z-index: 999;
}

.navbar .logo {
    width: 130px;
}

.navbar-nav .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF !important;
    padding: 10px 20px;
    transition: 0.3s ease;
    text-align: center;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #D6B15E !important;
}

.navbar-nav .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background: #D6B15E;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 50%;
}

.navbar-nav .nav-link i {
    font-size: 18px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.cart-item {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.cart-item img {
  width: 60px;
}