.logo{
    width: 130px;
}

/*Header*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: pink;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: rgb(185, 32, 58);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(219, 67, 92);
    position: absolute;
    bottom: -4px;
    left: 10px;
}

/*Shop section*/

#product1 {
    text-align: center;
}

.pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0,0,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(255, 131, 131, 0.345);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .ro {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .ro span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .ro h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .ro i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .ro h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(185, 32, 58);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: rgb(185, 32, 58);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    text-align: center;
    transition: 0.3s ease;
}

#product1 .pro .cart:hover {
    background-color: rgb(185, 32, 58);
    color: #fff;
}