.logo{
    width: 130px;
}

/*Header*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: pink;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: rgb(185, 32, 58);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: rgb(219, 67, 92);
    position: absolute;
    bottom: -4px;
    left: 10px;
}

/*Shop section*/

#lona {
    background-image: url(../img/BG2.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}